body {
  background-color: bisque;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 350px;
  height: 400px;
  float: left;
  margin: 15px 0;
  padding: 3px;
}

.card img {
  width: 300px;
  height: 200px;
  display: block;
  margin: 0 auto;
}

.ganador {
  clear: both;
  margin: 30px auto;
  width: 80%;
  padding: 0 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.ganador img {
  width: 300px;
  height: 400px;
  display: block;
  margin: 0 auto;
}
